<!--
- @author nanoo
- @created 11/04/2020 - 14:07
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head th:insert="fragments/fragments.html :: headerfiles">
    <title>Dashboard</title>
</head>
<body>

<div th:insert="fragments/fragments.html :: nav"></div>

<div class="container-fluid">
    <div class="row dashboard">
        <div class="col-md-4 info-user-container">
            <div class="info-user-buttons-container">
                <div class="dashboard-card card-user">
                    <div class="picture-profil">
                        <img th:src="@{/image/profil-picture-2.jpg}" alt="photo de profil" src="">
                    </div>
                    <div class="info-user">
                        <p>Nom : <span th:text="${account.lastName}"></span></p>
                        <p>Prénom : <span th:text="${account.firstName}"></span></p>
                        <p>N° Adhérent : <span th:text="${account.clientNumber}"></span></p>
                        <p>Adresse : <span th:text="${account.address}"></span></p>
                        <p>Date de naissance : <span
                                th:text="${#dates.format(account.birthDate,'dd MMM YYYY')}"></span></p>
                        <p>Inscris depuis le : <span
                                th:text="${#dates.format(account.dateOfCreation,'dd MMM YYYY')}"></span></p>
                    </div>
                </div>
                <div class="text-center">
                    <a th:href="@{/edit/profile}">
                        <button type="submit" class="btn btn-light action-button">Modifier mon profil</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-8 info-loan-container">
            <div class="dashboard-card">
                <div class="text-center">
                    <a th:href="@{/utilisateur/home/selection}"><div class="btn btn-light action-button">Mes livres empruntés</div></a>
                    <a th:href="@{/utilisateur/home/reservation}"><div class="btn btn-light action-button">Mes livres reservés</div></a>
                </div>
                <!-- List of book Reserved -->
                <div>
                    <div class="loan-title text-center">
                        <h2>Mes livres reservés</h2>
                    </div>
                    <div class="loan-list">
                        <!-- Reservation list -->
                        <div th:each="reservation :${reservations}" class="catalog-item">
                            <div class="inside-item">
                                <div class="cover-item">
                                    <img th:src="${reservation.book.cover}" alt="couverture du livre" src="">
                                </div>
                                <div class="info-item">
                                    <div class="header-item">
                                        <div class="title-book" th:text="${reservation.book.title}"></div>
                                        <div class="loan-button-status">
                                            <div class="extend-button">
                                                <span><a th:href="@{|/utilisateur/home/remove/${reservation.id}|}"><i class="fas fa-times-circle"></i></a></span>
                                            </div>
                                            <div th:classappend="${(reservation.notificationDate != null? 'ongoing' : 'outdated' )}">
                                                <span th:text="${(reservation.notificationDate != null? 'notifié' : reservation.placeInQueue + ' personne(s) avant vous' )}"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div th:if="${reservation.notificationDate == null}" class="return-date">
                                        <div>
                                            <b>Réservé le :</b>
                                            <span th:text="${#dates.format(reservation.reservationDate,'dd MMM YYYY')}"></span>
                                        </div>
                                        <div>
                                            <b>Prochain retour prévue :</b> <span
                                                th:text="${#dates.format(reservation.closestReturnDate,'dd MMM YYYY')}"></span>
                                        </div>
                                    </div>
                                    <div th:unless="${reservation.notificationDate == null}" class="return-date">
                                        <div>
                                            <b>Vous avez été notifié le :</b>
                                            <span th:text="${#dates.format(reservation.notificationDate,'dd MMM YYYY')}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:insert="fragments/fragments.html :: footer" class="footer"></div>

<div th:insert="fragments/fragments.html :: script"></div>

</body>
</html>